*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fontePrimaria: "Titulo", sans-serif;
}

@font-face
{
    font-family: "Titulo";
    src: url(../../public/fontes/Montserrat/static/Montserrat-ExtraBold.ttf);
}

.modalLogin{
    width: 1024px;
    height: 100%;
}

/* Base do dialog */
dialog {
    border-radius: 8px;
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 1, 0, 0.85);
    display: none; /* Esconde o modal por padrão */
}

/* Aplica o display flex apenas quando o modal está aberto */
dialog[open] {
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
}

fieldset{
    max-width: 302px;
    max-height: 609px;
}

.header{
    max-width: 242px;
    max-height: 100px;
    display:flex;
    flex-direction: column;
}

.titulo{
    font-size:24px;
    color:#00CC66;
    font-family:var(--fontePrimaria);
}

.fechar{
    max-width: auto;
    max-height: 50px;
    padding:0;
}

.email{
    max-width: 301px;
    max-height: 72px;
}

.senha{
    max-width: 300px;
    max-height: 105px;
}

.login{
    max-width: 301px;
    max-height: 184px;
}

.cadastrar{
    max-width: 300px;
    max-height: 48px;
}