*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face
{
    font-family: "Titulo";
    src: url(../../public/fontes/Montserrat/static/Montserrat-ExtraBold.ttf);
}


/* Base do dialog */
dialog {
  border-radius: 8px;
  width: 100%;
  max-width: 420px;
  max-height: 673px;
}

fieldset{
    max-width: 302px;
    max-height: 609px;
}